.App {
  text-align: center;
}

@font-face {
  font-family: 'OrelegaOne';
  src: url('assets/fonts/OrelegaOne-Regular.ttf') format('truetype');
}

body {
  font-family: 'OrelegaOne', sans-serif;
  line-height: 2vw;
}

body, .App {
  color: rgb(57, 57, 57) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-link {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  margin-right: 10px;
}

.nav-link:hover {
  background-color: #f0f0f0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selection-section select,
.selection-section input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}

@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-100px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.fade-in-left-element {
  animation: fadeInLeft 1s ease-out forwards;
  position: relative;
}

@keyframes fadeInTop {
  from {
      opacity: 0;
      transform: translateY(-100px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.fade-in-top-element {
  animation: fadeInTop 0.5s ease-out forwards;
  position: relative;
}

button {
  cursor: pointer;
}